@import url('https://fonts.googleapis.com/css?family=Alata|Ubuntu:400,700&display=swap');

// Colors
$colorBackground: #F0EEEB;
$colorHighlight: #D1CCC3;
$colorNormal: #847660;
$colorDark: #3f3628;
$colorText: #21180a;

// Sizes
$widthSidebar: 16em;
$fontSizeSidebar: 1.25em;
$lineHeightSidebar: 2.5em;

// Fonts
$fontNormal: 'Ubuntu', Arial, sans-serif;
$fontSpecial: 'Alata', Arial, sans-serif;
